@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  
  font-style: normal;
  list-style:none;
  text-decoration: none;
}
:root{
  --bg-color:black;
  --text-color:white;
  --main-color:pink;

  --big-font:7rem;
  --p-font:1.1rem;
}
body{
  background: var(--bg-color);
  color:var(--text-color);
  overflow-x: hidden;
}
header{
  position:fixed;
  top:0;
  right:0;
  width:100%;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:32px 15%;
  background:transparent;
  transition:all ease .45s;
}
.navbar{
  display:flex;
  gap:5.5rem;
  align-items:center;
  
}

  

.logo{
  font-size:2rem;
  font-weight:600;
  color:rgb(235, 130, 25)
}
.logo span{
  color:rgb(214, 124, 139);
}
.navbar a{
  font-size:var(--p-font);
  font-weight:500;
  color:var(--text-color);
  margin: 0 16px;
  transition: all  ease .50s;
}
.navbar a:hover{
  color:rgb(240, 148, 120);
  font-weight:8rem;
}
.navbar a.active{
  color:rgb(227, 97, 149);
  font-weight:8rem;

}
.menu-btn{
  /* background: linear-gradient(to right, #da4453, #89216b); */
  box-shadow:0px 20px 40px #00000070;
  border:1px solid #3b3b3b;
  padding:5px 16px;
  border-radius:100px;
  /* background: linear-gradient(to right, #d53369, #cbad6d); */
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  display:flex;
  align-items:center;
  cursor:pointer;
  
}
#menu-icon{
  font-size:25px;
  
  z-index:6;
}
section{
  padding:0 25%;
  animation: fadeIn 3s ease-in-out;
}
.home{
  position:relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
}
.home-image{
  width:730px;
  height:730px;

}
.home-image img{
  width:100%;
  height:100%;
  object-fit:contain;
}
.home-text span{
  padding:5px 25px;
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  box-shadow:0px 20px 40px #00000070;
  border:1px solid #3b3b3b;
  border-radius:100px;color:var(--text-color);
  font-weight:700;
  font-size:15px;

}
.home-text h1{
  font-size:35px;
  margin:23px 0;
}
.home-text p{
  font-size:16px;
  font-weight:400;
  color:#c3c3c3;
  line-height:28px;
  margin-bottom:30px;
  
}
/* .btn{
  display: inline-block;
  padding: 13px 30px;
  background: var(--main-color);
  color:rgb(106, 27, 106);
  border:2px solid var(--main-color);
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
} */
/* .btn:hover{
  transform:translateY(-5px);
  background: transparent;
  color:var(--main-color);
} */
.share{
  position: absolute;
  bottom: 3rem;
  left:15%;
  display:flex;
  align-items: center;

}
.share p{
  font-size:17px;
  color:white;
  margin-right:25px;
}
.social i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height:45px;
  width:45px;
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  box-shadow:0px 20px 40px #00000070;
  border:1px solid #3b3b3b;
  border-radius:50%;
  font-size:20px;
  margin:0 7px;
  transition:all 0.6s ease-in-out;
  color:white;
}
.social i:hover{
  transform:translateY(9px);
}
@media(max-width:1850px){
  header{
    padding:15px 8%;
    transition:.2s;
  }
  section{
    padding:0 8%;
    transition:.2s;
  }
  share{
    left:8%;
    transition:.2s;
  }
}
@media(max-width:1370px){
  header{
    padding:15px 4%;
    transition:.2s;
  }
  section{
    padding:0 4%;
    transition:.2s;
  }
  share{
    left:4%;
    transition:.2s;
  }
  :root{
    --big-font:7rem;
    --p-font:1rem;
    transition:.2s;
  }
}
@media(max-width:1020px){
  .navbar a{
    margin:0 15px;
  }
  :root{
    --big-font:7rem;
    --p-font:1rem;
    transition:.2s;
  }

}
@media(max-width:950px){
  .share{
    display: none;

  }
  section{
    padding: 70px 4%;
  }
  header{
    padding:11px 4%;
    background: #2d2d2d;
  }
  .home{
    height:auto;
    display:flex;
    flex-wrap:wrap;
  }
  .home-text{
    order:2;
  }
  .home-image{
    margin:auto;
    height:auto;
    width:auto;
  }
  home-image img{
    max-width:450px;
    width:100%;
    height:auto;
  }
  
}
@media(max-width:850px){
  .navbar{
    position:absolute;
    width:100%;
    height:100vh;
    padding:40px 50px;
    top:0;
    right:0;
    bottom:0;
    left:100%;
    display: flex;
    flex-direction: column;
    background: #2d2d2d;
    transition:all 0.4s ease-in-out;

  }
  .navbar a{
    display: block;
    color: #c3c3c3;
    padding:0px;
    margin:0px 0px 40px 0px;
    font-size:0.8rem;
    font-weight: 400;

  }
  .navbar.open{
    left:0;
  }
  
}
@media(max-width:500px){
  :root{
    --big-font:4rem;
    --p-font:15rem;
    transition:.2s;

  }
  .btn{
    padding:9px 28px;
  }
  .home-text h1{
    font-size:30px;

}
.project span{
  font-size:10px;
  margin-top: 8%;
}
/* .container{
  border: 2px solid green;
  height:100%;
  width:100%
  
} */


}
@media(max-width:375px){
  .container{
    height:100%;
    width:100%;
  }
}
.home-image img{
  animation:imgg 2s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes imgg{
  0%{
    transform: translateY(0);

  }
  50%{
    transform:translateY(-22px);
  }
  100%{
    transform:translateY(0);
  }
}



.skills{
  width:100%;
  max-width:600px;
  padding:0 20px;
}

.skill-name{
  font-size: 13px;
  font-weight: 700;
  color:white;
  margin:20px 0;

}
.skill-bar{
  height:14px;
  background: #2d2d2d;
  border-radius: 3px;
}
.skill-per{
  height:14px;
  background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  border-radius: 2px;
  position:relative;
  animation: fillBars 2.5s 1;


}
.skill-per::before{
  content:attr(per);
  position:absolute;
  padding:8px 8px ;
  background: rgb(246, 134, 134);
  border-radius:50%;
  font-size: 9px;
  top:-45px;
  right:0;
  transform:translateX(50%);

}

.skill-per::after{
  content:"";
  position:absolute;
  width:10px;
  height:10px;
  background: rgb(246, 134, 134);
  top:-19px;
  right:0;
  transform:translateX(50%) rotate(45deg);
}

@keyframes fillBars{
  from{
    width:0;

  }
  to{
    width:100%;
  }
}
.skills{
  margin-top:4%;
  margin-bottom:7%;
  /* border:2px solid red; */
}
.heading{
  font-weight: 600;
  font-size: 26px;
  margin-bottom:19%;
}
hr{
  text-align: center;
  width:70%;
}
.projects{
  text-align: center;
  
  /* height:100%; */
  width:100vw;
}
.container h2{
  margin-bottom:2%;
  
}


.head h3{
  margin-bottom:3%;
}
/* .project .images1{
  height:17rem;
  width:100%;
  gap:0.5rem;
  display:flex;
  justify-content: space-between;
  
  
  flex-wrap:1rem 1rem 1rem;
  margin-bottom:1rem;
 
} */

.img1{
  width:50%;
}

.project p{
  font-size:13px;
  margin-top: 6%;


}
.head1 h3{
  margin-bottom:2%;
  margin-top: 8%;
}
.project span{
  font-size:12px;
  margin-top: 8%;
}
section#resume a {
  display: block;
  width: 200px;
  margin: 1em auto;
  padding: 2em;
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  box-shadow:0px 20px 40px #00000070;
  /* border:1px solid #3b3b3b; */
  color: white;
  text-align: center;
  text-decoration: none;
  

  border:2px solid var(--main-color);
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.6 ease-in-out;
}
#resume{
  margin-top:2rem;
  width:100vw;
}

section#resume a:hover {
  transform:translateY(-6px);
  background: transparent;
  color:var(--main-color);

}
.container h2 {
  
  margin-top: 7%;
  text-align: center;
}


section#contact p {
  text-align: center;
  font-size: 1.2em;
}
#contact{
 
    margin-top:2rem;
    width:100vw;
  
}
footer {
  background:black;
  color: white;
  text-align: center;
  padding: 1em 0;
  animation: fadeIn 3s ease-in-out;
  margin-top: 7%;
  
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




